{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>



<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header">
    {% comment %}<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">{% endcomment %}
      {% comment %}<span class="sr-only">Toggle navigation</span>{% endcomment %}
      {% comment %}<span class="icon-bar"></span>{% endcomment %}
      {% comment %}<span class="icon-bar"></span>{% endcomment %}
      {% comment %}<span class="icon-bar"></span>{% endcomment %}
    </button>
    <header id="header" role="banner">{% include header.html %}</header>
  </div>
  <div class="navbar-collapse collapse">

    {% include navigation.html %}

  </div><!--/.nav-collapse -->
</div>
</div>



  <div id="main" class="container">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}


</body>
</html>
