$font-default: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

$font-icon: FontAwesome;
$font-icon-path: "/font/fontawesome-webfont";

