// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html, body, p, h1, h2, h3, span, ul, ol, li {
  -webkit-font-smoothing: antialiased;
  color: rgba(46,48,58,0.96);
}
#content h1{
  font-size: 1.95em;
  font-family: 'Open Sans', sans-serif;
}
.sidebar h1 {
  font-size: 1.5em;
}

ol li{ margin-left: 2em; padding-left: 0.25em; list-style-type: decimal}


body p {
  font-size: 1.2em;
  line-height: 1.56em;
}


#content{
  margin-top: 6em;
}
#header h1{ margin-top:0px }

body{background: #f0f0f0 url(/images/bg-noise.gif) repeat -70% 0;}
article {background-color: white;}

body a:hover { text-decoration: none;}

#header h1 a {
  color: #fff;
  background: linear-gradient(#ff0000,#ff0000) left repeat;
  padding: 0.15em;
  font-size: 0.8em;
}
article, .sidebar-style {
  padding: 0 1em;
  background-color: #fff;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: 1px solid #fff;
  position: relative;
}

body {
}
.ads{margin-top: 2em;}
article header {overflow:auto;}
article header h1 { float:left;}
article header p.meta {
  float:right;
  font-size: 0.9em;
}
.meta, .meta span{color:#898989}
.meta { margin-top: 20px;}
article hr {margin:0.5em}
article{margin-bottom:3.5em}
.entry-content{padding-bottom:2em}
